body{
    background-color:black;
    color: white;
}



body, h1, h2, h3, p, ul, li, a {
    font-family: 'Open Sans', sans-serif;
}

.page_navibox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Центрируем пункты навигации */
    white-space: nowrap; /* Запретить перенос на новую строку */
    overflow: hidden; /* Добавляем свойство overflow для скрытия элементов, выходящих за пределы контейнера */
}

.page_navibox ul li {
    display: inline-block;
    margin-right: 60px; /* Добавляем небольшой отступ между пунктами */
}

/* Стили для ссылок в пунктах навигации */
.page_navibox ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; /* Добавляем отступы вокруг текста ссылок */
}

.page_navibox ul li a:hover {
    background-color: white;
    color: black;
}

.td{
    align:left;
}

@media screen and (min-width: 768px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* Стили для .undergroundpcline */
.undergroundpcline {
    margin-top: 1%;
    width: 100%; /* Занимает всю ширину экрана */
    height: 3px; /* Толщина линии */
    background-color: white; /* Цвет линии */
}

/* Общие стили для mof1 и mof2 */
.mof1,
.mof2 {
    margin-top: 10px;
    text-align: left;
}

/* Скрыть mof1 при ширине экрана >= 768px */
@media screen and (min-width: 768px) {
    .mof1 {
        display: none;
    }
}

/* Скрыть mof2 при ширине экрана <= 767px */
@media screen and (max-width: 767px) {
    .mof2 {
        display: none;
    }
}



/* Убрать отступы при ширине экрана <= 767px */
@media screen and (max-width: 767px) {
    .undergroundpc {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Установить ширину tbody на 100% */
tbody {
    width: 100%;
}

.undergroundpclogan{
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    vertical-align: top;
    color:white;
}

.undergroundpctel a {
    color: #ffffff; /* Цвет текста белый */
    font-size: 20px; /* Увеличение размера текста */
    text-decoration: none; /* Убираем подчеркивание */
}

.undergroundpctel{
    text-align: right;
}


.undergroundpcsoc {
    display: flex;
    align-items: right;
    justify-content: right  ;
    margin-top: 10px; /* Расстояние между номером телефона и значками */
}

.undergroundpcsoc a {
    display: inline-block;
    margin: 0 5px; /* Расстояние между значками */
    width: 40px; /* Ширина значков */
    height: 40px; /* Высота значков */
}

.accordion {
    border: 1px solid white;
    padding: 20px;
    cursor: pointer; /* Добавлено для показа, что кнопка активна для нажатия */
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; /* Добавлен переход для плавного открытия/закрытия контента */
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Увеличиваем расстояние до карты */
}

.address,
.phone {
    color: white;
    font-size: 20px;
}

.address {
    flex-grow: 1; /* Занимает доступное пространство */
    margin-right: 10px; /* Добавляем небольшой отступ между адресом и номером телефона */
}

.phone {
    white-space: nowrap; /* Предотвращаем перенос номера телефона на новую строку */
}

@media screen and (min-width: 769px) {
    .undergroundimgpc {
        width: 30%;

    }
}

@media screen and (max-width: 768px) {
    .undergroundimgmob {
        height: 20px;
    }
}

@media screen and (max-width: 768px)
.accordion__content table tr td {
    text-align: center;
    font-size: 12px !important;
}

@media screen and (min-width: 769px)
.accordion__content table tr td {
    text-align: center;
}

@media screen and (min-width: 769px)
.accordion__content {
    display: flex;
    flex-direction: column;
    background: #000 !important;
    text-align: justify;
    font-size: 16px;
}

@media screen and (max-width: 768px)
.accordion__content {
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-size: 12px !important;
    background: #000 !important;
}

