<!DOCTYPE html>
<html>
<head>
    <title>Компьютерный клуб Underground</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Underground cyber club</h1>
        <nav>
            <ul>
                <li><a href="#section1">Главная</a></li>
                <li><a href="#section2">Зоны</a></li>
                <li><a href="#section3">Цены</a></li>
                <li><a href="#section4">Фото</a></li>
                <li><a href="#section5">Адрес</a></li>
            </ul>
        </nav>
    </header>

    <section id="section1">
        <h2>Раздел главной</h2>
    </section>

        <section id="section2">
        <h2>Раздел зон</h2>
    </section>

        <section id="section3">
        <h2>Раздел цен</h2>
    </section>

        <section id="section4">
        <h2>Раздел фото</h2>
    </section>

    <section id="section5">
        <h2>Раздел адреса</h2>
    </section>


</body>
</html>
